<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@attach(title)</title>
	<meta name="desc" content="@attach(desc)">
</head>
<body>

	@import(header)

	<main>
		@attach(content)
	</main>

	<sidebar>
		@attach(sidebar)
	</sidebar>	

	<section>
		<p>	what if there is attach with 2 same content</p>
		@attach(sidebar)

		<code>
			//Test code tag shouldn't be included
			@attach(sidebar)
		</code>
	</section>

	@import(footer)
		
</body>
</html>