<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@attach(title)</title>
	<meta name="desc" content="@attach(desc)">
	<meta property="og:title" content="@attach(title)">
	<meta property="og:description" content="@attach(desc)">

</head>
<body>
	@import(header)

	<sidebar>
		@attach(sidebar)
	</sidebar>	

	<main>
		@attach(content)
	</main>

	<section>
		<p>You should see code tag below</p>
		<code>
			//Test code tag shouldn't be included
			@attach(sidebar)
		</code>
	</section>

	@import(footer)
		
</body>
</html>